/* src/assets/custom-fonts.css */
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "RubikMonoOne";
  src: url("./fonts/RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silkscreen";
  src: url("./fonts/Silkscreen-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silkscreen";
  src: url("./fonts/Silkscreen-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
